body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.container {
    display: flex;
    gap: 20px;
}

.caixa {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}